<div class="container mx-auto max-w-md p-8 shadow-lg rounded-lg">
    <h2 class="text-2xl font-bold text-center mb-6">Login Form</h2>
    <form (ngSubmit)="onLogin()">
        <label for="Username">User Name</label>
        <input type="text" id="uname" [(ngModel)]="logData.uname" name="username" required placeholder="Enter username"/>
      <label for="Password">Password</label>
        <input type="password" id="pwd" [(ngModel)]="logData.password" name="password" required placeholder="Enter password"/>
        <button type="submit">Login</button>
        <br/>
        <br/>
        <label class="text-danger">{{loginResponse}}</label>
      
    </form>
</div>
